.bgimage{
	background-image: url('../images/house1.jpg');
	background-position: center center;
	background-size: cover;
	height: 600px;
}
.whitetext{
	color:white;
}
.whitelink{
	color: white;
	text-decoration: underline;
}
.loginpad{
	padding-left: 3px;
	padding-right: 7px;
}
.modal-header, h4, .close{
	background-color: #333333;
	color: white;
	text-align: center;
	font-size: 30px;
}
.modal-footer{
	background-color: #333333;
}